<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/images/cit.png" />
    <title>CIT Machine Learning Tool</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <!-- Navbar -->
      <div
        class="w-full border-b h-14 px-4 py-2 fixed z-10 top-0 left-0 right-0 bg-slate-100 flex items-center"
      >
        <div class="flex items-center gap-x-2">
          <img
            src="../assets/images/cit.png"
            alt="this is logo CIT"
            width="40"
            height="40"
          />
          <span class="text-xl text-blue-500">CIT Machine Learning Tool</span>
        </div>
      </div>
      <div class="flex p-4">
        <!-- Aside Bar -->
        <div
          class="max-w-[230px] w-full fixed top-[56px] left-0 bottom-0 h-full border-r-2"
        >
          <nav class="flex flex-col gap-y-4 px-4 my-10">
            <a
              href="./documentation.html"
              class="text-lg font-bold p-2 rounded-lg hover:bg-blue-500 hover:text-white duration-200"
              >Documentation</a
            >
            <a
              href="./knn_prediction.html"
              class="text-lg font-bold p-2 rounded-lg hover:bg-blue-500 hover:text-white duration-200"
              >KNN</a
            >
            <a
              href="./create_dt.html"
              class="text-lg font-bold p-2 rounded-lg hover:bg-blue-500 hover:text-white duration-200"
              >Decision Tree</a
            >
          </nav>
        </div>
        <!-- Side content -->

        <main
          class="flex flex-col container mt-2 flex flex-col gap-5 w-full px-4 py-2 ml-[230px] mt-[56px]"
        >
          <h1 class="text-xl md:text-3xl font-semibold text-slate-950">
            #Một số quy ước khi vẽ cây quyết định
          </h1>
          <div class="flex flex-col">
            <span class="text-base md:text-2xl font-medium text-2xl">
              1. Quy ước tập dữ liệu
            </span>

            <ul class="px-10 py-5">
              <li>
                - Tập dữ liệu không chứa cột dữ liệu không mang tính chất quan
                trọng (id, số thứ tự,....)
              </li>
              <div id="example" class="flex flex-col lg:flex-row gap-10 mt-5">
                <div class="flex flex-col gap-2">
                  <img
                    src="/frontend/assets/images/true_decision_tree.jpg"
                    alt=""
                    class="w-full h-[24rem] bg-cover border-2 border-slate-400 rounded-2xl object-fill bg-center"
                  />
                  <span class="text-center underline"
                    >Hình 1. Ảnh minh họa tập dữ liệu hợp lệ.</span
                  >
                </div>
                <div class="flex flex-col gap-2">
                  <img
                    src="/frontend/assets/images/false_decision_tree.jpg"
                    alt=""
                    class="w-full h-[24rem] bg-cover border-2 border-slate-400 rounded-2xl object-fill bg-center"
                  />
                  <span class="text-center underline"
                    >Hình 2. Ảnh minh họa tập dữ liệu không hợp lệ.</span
                  >
                </div>
              </div>
              <li>- Cột nhãn luôn là cột cuối cùng.</li>
              <div class="flex flex-col gap-2 mt-5 max-w-[32rem] w-full">
                <img
                  src="/frontend/assets/images/have_label.jpg"
                  alt=""
                  class="w-full bg-cover object-contain bg-center"
                />
                <span class="text-center underline"
                  >Hình 2. Ảnh minh họa tập dữ liệu phải có nhãn là cột cuối
                  cùng.</span
                >
              </div>
              <li>- Dữ liệu của tập dữ liệu không chứa các trường rỗng.</li>
              <li>- Cần xác định kiểu dữ liệu cho từng thuộc tính.</li>
              <div class="flex flex-col gap-2 mt-5 max-w-[32rem] w-full">
                <img
                  src="/frontend/assets/images/have_datatype.jpg"
                  alt=""
                  class="w-full bg-cover object-contain bg-center"
                />
                <span class="text-center underline"
                  >Hình 2. Ảnh minh họa tập dữ liệu phải có kiểu dữ liệu cho
                  từng cột.</span
                >
              </div>
            </ul>
            <span class="text-base md:text-2xl font-medium text-2xl">
              2. Kết quả
            </span>
            <div class="flex flex-col gap-2 mt-5 w-full">
              <img
                src="/frontend/assets/images/result.jpg"
                alt=""
                class="w-full bg-cover object-contain bg-center"
              />
              <span class="text-center underline"
                >Hình 2. Ảnh minh họa kết quả.</span
              >
            </div>
            <div>
              <div class="flex flex-col mt-5">
                <span class="text-lg md:text-xl font-medium text-2xl"
                  >Phần bên trái</span
                >
                <p class="text-lg ml-4">Mô tả chi tiết các bước thực hiện</p>
              </div>
              <div class="flex flex-col mt-5">
                <span class="text-lg md:text-xl font-medium text-2xl"
                  >Phần bên phải</span
                >
                <p class="text-lg ml-4">
                  Hiển thi cây được sinh ra từ bản mô tả các bước thực hiện bên
                  trái
                </p>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
